/* reset */


* { margin: 0; padding: 0; font: inherit;}
li { list-style: none; }
a { text-decoration: none;}


.clearfix::before .clearfix::after{display: block; content: ''; clear: both;}



/* all */
#wrap{ margin: 0 auto; width: 2000px; height: 2000px; }



/* logo */

.logo { float: left; width: 500px; height: 500px; }
.logo img { float: left; width: 300px height: 300px; }






/* POPUP */

.intro { position: relative; top: 100px; left: 500px; width: 1000px; height: 1000px; background: #ccc;
    border: 10px solid #ffffff; }

.intro img {position: absolute; width: 500px; height: auto; left:250px; top: 50px; border: 15px solid #ffffff; }
.intro h4 { display: none; position: absolute; text-align: center; font-size: 30px; left: 250px; top: 770px;}

.close { display: none; position: absolute; top: 900px; left: 830px; width: 130px; height: auto; background: rgba(255,255,255,1); text-align: center; font-size: 50px; border: 7px solid #333; border-radius: 0px; }